
body * {
  box-sizing: border-box;
}

/* ===== Columns ===== */
.column {
  display: inline-block;
  width: 30px;
  margin-right: 4px;
  padding: 0px;
}

/* ===== Squares ===== */
.square {
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 0px;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}